/* #carouselExampleIndicators {
  display: flex;
  position: relative;
  right: 29%;
  width: 128rem;
  height: 50rem;
} */

/* img {
  height: 10rem;
  background-size: cover;
  display: flex;
  width: 50rem;
  height: 50rem;
} */
