/* #carouselExampleIndicators {
  display: flex;
  position: relative;
  right: 29%;
  width: 128rem;
  height: 50rem;
} */

/* img {
  height: 10rem;
  background-size: cover;
  display: flex;
  width: 50rem;
  height: 50rem;
} */

#banner {
  filter: brightness(50%);
}

.carousel-caption {
  font-size: 30px;
  top: 63%;
  transform: translateY(-50%);
}

.card{
  margin-top: 2rem;
  /* padding-top: 5rem; */
}
